[submodule "async-profiler"]
	path = async-profiler
	url = https://github.com/parttimenerd/async-profiler
	branch = parttimenerd_asgct2
[submodule "jdk"]
	path = jdk
  url = git@github.com:parttimenerd/jdk-sandbox
  branch = asgst
