[submodule "jdk"]
	path = jdk
	url = https//github.com/parttimenerd/jdk
	branch = parttimenerd_asgct2
[submodule "async-profiler"]
	path = async-profiler
	url = https://github.com/SAP/async-profiler
	branch = parttimenerd_asgct2
